body {
    margin: 0;
}

.contenedor {
    overflow: hidden;
    height: 1000px;
}

.cielo {
    background: url("../assets/sprites/backgrounds/backgroundNight.png") repeat-y;
    -webkit-animation: bgScroll 600s linear infinite;
    animation: bgScroll 600s linear infinite;
    animation-direction: reverse;
    height: 100%;
    background-size: cover;
    position: relative;
    
}

a{
    background-color: white;
    color: black;
}

#hud{
    position: fixed;
}

#monedaicono, #monedas {float:left; display:inline}

#monedas{
    background-color: white;
    text-align: center;
}

#player {
    position: relative;
    width: 250px;
    height: 190px;
}

@keyframes bgScroll {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 1500%;
    }
}